 1 # See https://help.github.com/articles/ignoring-files/ for more about ignoring 
      files.
    2 
    3 # dependencies
    4 /node_modules
    5 /.pnp
    6 .pnp.*
    7 .yarn/*
    8 !.yarn/patches
    9 !.yarn/plugins
   10 !.yarn/releases
   11 !.yarn/versions
   12 
   13 # testing
   14 /coverage
   15 
   16 # next.js
   17 /.next/
   18 /out/
   19
   20 # production
   21 /build
   22
   23 # misc
   24 .DS_Store
   25 *.pem
   26
   27 # debug
   28 npm-debug.log*
   29 yarn-debug.log*
   30 yarn-error.log*
   31 .pnpm-debug.log*
   32
   33 # env files (can opt-in for committing if needed)
   34 .env*
   35
   36 # vercel
   37 .vercel
   38
   39 # typescript
   40 *.tsbuildinfo
   41 next-env.d.ts
   42
   43 # clerk configuration (can include secrets)
   44 /.clerk/
